[user]
  name = makotot
  email = makoto.ttn@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[gui]
  encoding = utf-8
[core]
  precomposeunicode = true
  quotepath = false
[merge]
  tool = vimdiff
[alias]
  st = status -b
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  cm = commit -m
  a = add -A
  i = init = branch
  br = branch
[push]
  default = matching
[mergetool]
  keepBackup = false
[url "https://github.com/"]
  insteadOf = git://github.com/
[url "https://"]
  insteadOf = git://
[init]
  defaultBranch = main