[user]
	name = makotot
	email = makoto.ttn@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[gui]
	encoding = utf-8
[core]
	precomposeunicode = true
	quotepath = false
[merge]
	tool = vimdiff
[alias]
	st = status -b
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	cm = commit -m
  br = branch
[push]
	default = matching
